img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: orange;
  text-align: center;
  position: sticky;
  top: 0;
  padding: 1rem 1.5rem;
}

h1 {
  color: darkred;
}

h2 {
  margin: 1rem;
}

article {
  border: solid black 1px;
  margin: 1rem;
  padding: 1rem;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.valgt {
  background-color: red;
  border-radius: 5px;
}
